Application/Admin/Controller/order.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://10.155.30.170:8880/ws/order" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="order" targetNamespace="http://10.155.30.170:8880/ws/order">
  <wsdl:types>
    <xsd:schema targetNamespace="http://10.155.30.170:8880/ws/order">
      <xsd:element name="handshake">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="handshakeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orderRequest" type="xsd:string"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="handshakeRequest">
  </wsdl:message>
  <wsdl:message name="handshakeResponse">
    <wsdl:part name="parameters" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="NewOperationRequest" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="NewOperationResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderRequest1">
  	<wsdl:part name="service_id" type="xsd:string"></wsdl:part>
  	<wsdl:part name="product_id" type="xsd:string"></wsdl:part>
  	<wsdl:part name="mobile" type="xsd:string"></wsdl:part>
  	<wsdl:part name="type" type="xsd:int"></wsdl:part>
  	<wsdl:part name="comments" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderResponse1">
  	<wsdl:part name="regResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="unregRequest1">
  	<wsdl:part name="unregRequest" type="xsd:string"></wsdl:part>
  	<wsdl:part name="NewPart" type="xsd:string"></wsdl:part>
  	<wsdl:part name="NewPart1" type="xsd:string"></wsdl:part>
  	<wsdl:part name="NewPart2" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="unregResponse1">
  	<wsdl:part name="unregResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dianboRequest1">
  	<wsdl:part name="dianboRequest" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dianboResponse1">
  	<wsdl:part name="dianboResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="directRequest1">
  	<wsdl:part name="directRequest" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="directResponse1">
  	<wsdl:part name="directResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest1">
  	<wsdl:part name="NewOperationRequest1" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse1">
  	<wsdl:part name="NewOperationResponse1" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="handshakeFault">
  </wsdl:message>
  <wsdl:message name="handshakeFault1">
  	<wsdl:part name="fault" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="order">
    <wsdl:operation name="handshake">
      <wsdl:input message="tns:handshakeRequest"/>
      <wsdl:output message="tns:handshakeResponse"/>
        </wsdl:operation>
    <wsdl:operation name="order">
    	<wsdl:input message="tns:orderRequest1"></wsdl:input>
    	<wsdl:output message="tns:orderResponse1"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="orderSOAP" type="tns:order">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="handshake">
      <soap:operation soapAction="http://10.155.30.170:8880/ws/order/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="order">
    <wsdl:port binding="tns:orderSOAP" name="orderSOAP">
      <soap:address location="http://10.155.30.170:8880/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
